.SearchBar {

  .searchBarTitle {
    color: white;
    margin: 0 0 15px;
    font-size: 21px;
    font-weight: 600;
    display: block;
  }

  .btnSearchYoutube {
    background-color: #e62117;
    color: white;

    &:hover {
      background-color: #444;
    }

  }

  .inputYoutubeSearch {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border: none;
    font-size: 16px;
  }

  .searchInputAndAutoCompleteWrapper {
    position: relative;
  }

}